body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
    list-style-type: none;
}
#pop{
    width:300px;
    height:200px;
    background:#3d3d3d;
    color:#fff;
    position:absolute;
    margin: 0 auto;
    text-align:center;
    border:2px solid #000;
    display: none;
}
#logs{
    border: 1px solid #bbb;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

#lists{
    padding: 10px;
}